<h1>Listing employers</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Password digest</th>
    <th>Worker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  

<% @employers.each do |employer| %>
  <tr>
    <td><%= employer.fname %></td>
    <td><%= employer.lname %></td>
    <td><%= employer.email %></td>
    <td><%= employer.phone %></td>
    <td><%= employer.password_digest %></td>
    <td><%= employer.worker_id %></td>
    <td><%= link_to 'Show', employer %></td>
    <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
    <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employer', new_employer_path %>
