<h1>Welcome to BEEHIVE!</h1>

<p>
  <%= @employer.fname %> <%= @employer.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @employer.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @employer.phone %>
</p>



<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %> |
<%= link_to 'Post A New Job', new_job_path %></br>
